* {
    box-sizing: border-box;
}
img {
    display: block;
    width: 100%;
    height: auto;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    list-style-type: none;

    padding: 0;
    margin: 0 auto;

    width: 70%;
}

.gallery-item {
    flex-basis: calc((100% - 2 * 10px) / 3);
}

.gallery-image {
    max-height: 443px;
    object-fit: contain;
    transition: transform 250ms ease-in-out;
}

.gallery-image:hover {
    transform: scale(105%);
}